{
  "durationunit": {
    "tableTitle": "sol.learning.localizedKwl.durationunit.tableTitle",
    "columnHeaders": [
      "sol.learning.localizedKwl.durationunit.header.key",
      "sol.learning.localizedKwl.durationunit.header.value"
    ],
    "entries": [
      {
        "key": "m",
        "value": "sol.learning.localizedKwl.durationunit.entry.minutes"
      },
      {
        "key": "h",
        "value": "sol.learning.localizedKwl.durationunit.entry.hours"
      },
      {
        "key": "d",
        "value": "sol.learning.localizedKwl.durationunit.entry.days"
      },
      {
        "key": "w",
        "value": "sol.learning.localizedKwl.durationunit.entry.weeks"
      }
    ],
    "blankLine": false
  },
  "coursedifficulty": {
    "tableTitle": "sol.learning.localizedKwl.coursedifficulty.tableTitle",
    "columnHeaders": [
      "sol.learning.localizedKwl.coursedifficulty.header.key",
      "sol.learning.localizedKwl.coursedifficulty.header.value"
    ],
    "entries": [
      {
        "key": "B",
        "value": "sol.learning.localizedKwl.coursedifficulty.entry.beginner"
      },
      {
        "key": "A",
        "value": "sol.learning.localizedKwl.coursedifficulty.entry.advanced"
      },
      {
        "key": "E",
        "value": "sol.learning.localizedKwl.coursedifficulty.entry.expert"
      }
    ],
    "blankLine": false
  },
  "coursestatus": {
    "tableTitle": "sol.learning.localizedKwl.coursestatus.tableTitle",
    "columnHeaders": [
      "sol.learning.localizedKwl.coursestatus.header.key",
      "sol.learning.localizedKwl.coursestatus.header.value"
    ],
    "entries": [
      {
        "key": "D",
        "value": "sol.learning.localizedKwl.coursestatus.entry.draft"
      },
      {
        "key": "T",
        "value": "sol.learning.localizedKwl.coursestatus.entry.teaser"
      },
      {
        "key": "P",
        "value": "sol.learning.localizedKwl.coursestatus.entry.published"
      }
    ],
    "blankLine": false
  },
  "notifyrecipientsearch": {
    "tableTitle": "sol.learning.localizedKwl.notify.recipient.search.tableTitle",
    "columnHeaders": [
      "sol.learning.localizedKwl.notify.recipient.search.header.key",
      "sol.learning.localizedKwl.notify.recipient.search.header.value"
    ],
    "entries": [
      {
        "key": "A",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.all"
      },
      {
        "key": "E",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.enrolled"
      },
      {
        "key": "R",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.running"
      },
      {
        "key": "CO",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.completed"
      },
      {
        "key": "CA",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.cancelled"
      },
      {
        "key": "NC",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.not_completed"
      },
      {
        "key": "LNC",
        "value": "sol.learning.localizedKwl.notify.recipient.search.entry.long_running"
      }
    ],
    "blankLine": false
  }
}