{
  "requisitionstatus": {
    "tableTitle": "sol.recruiting.localizedKwl.requisitionstatus.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.requisitionstatus.header.key",
      "sol.recruiting.localizedKwl.requisitionstatus.header.value"
    ],
    "entries": [
      {
        "key": "D",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.draft"
      },
      {
        "key": "S",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.submitted"
      },
      {
        "key": "A",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.approved"
      },
      {
        "key": "X",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.denied"
      },
      {
        "key": "O",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.open"
      },
      {
        "key": "C",
        "value": "sol.recruiting.localizedKwl.requisitionstatus.entry.closed"
      }
    ],
    "blankLine": false
  },
  "candidatestatus": {
    "tableTitle": "sol.recruiting.localizedKwl.candidatestatus.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.candidatestatus.header.key",
      "sol.recruiting.localizedKwl.candidatestatus.header.value"
    ],
    "entries": [
      {
        "key": "D",
        "value": "sol.recruiting.localizedKwl.candidatestatus.entry.preparation"
      },
      {
        "key": "I",
        "value": "sol.recruiting.localizedKwl.candidatestatus.entry.interview"
      }
    ],
    "blankLine": false
  },
  "country": {
    "tableTitle": "sol.recruiting.localizedKwl.country.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.country.header.key",
      "sol.recruiting.localizedKwl.country.header.value"
    ],
    "entries": [
      {
        "key": "DE",
        "value": "sol.recruiting.localizedKwl.country.entry.DE"
      },
      {
        "key": "FR",
        "value": "sol.recruiting.localizedKwl.country.entry.FR"
      },
      {
        "key": "BE",
        "value": "sol.recruiting.localizedKwl.country.entry.BE"
      },
      {
        "key": "BG",
        "value": "sol.recruiting.localizedKwl.country.entry.BG"
      },
      {
        "key": "CZ",
        "value": "sol.recruiting.localizedKwl.country.entry.CZ"
      },
      {
        "key": "DK",
        "value": "sol.recruiting.localizedKwl.country.entry.DK"
      },
      {
        "key": "EE",
        "value": "sol.recruiting.localizedKwl.country.entry.EE"
      },
      {
        "key": "IE",
        "value": "sol.recruiting.localizedKwl.country.entry.IE"
      },
      {
        "key": "EL",
        "value": "sol.recruiting.localizedKwl.country.entry.EL"
      },
      {
        "key": "ES",
        "value": "sol.recruiting.localizedKwl.country.entry.ES"
      },
      {
        "key": "HR",
        "value": "sol.recruiting.localizedKwl.country.entry.HR"
      },
      {
        "key": "IT",
        "value": "sol.recruiting.localizedKwl.country.entry.IT"
      },
      {
        "key": "CY",
        "value": "sol.recruiting.localizedKwl.country.entry.CY"
      },
      {
        "key": "LV",
        "value": "sol.recruiting.localizedKwl.country.entry.LV"
      },
      {
        "key": "LT",
        "value": "sol.recruiting.localizedKwl.country.entry.LT"
      },
      {
        "key": "LU",
        "value": "sol.recruiting.localizedKwl.country.entry.LU"
      },
      {
        "key": "HU",
        "value": "sol.recruiting.localizedKwl.country.entry.HU"
      },
      {
        "key": "MT",
        "value": "sol.recruiting.localizedKwl.country.entry.MT"
      },
      {
        "key": "NL",
        "value": "sol.recruiting.localizedKwl.country.entry.NL"
      },
      {
        "key": "AT",
        "value": "sol.recruiting.localizedKwl.country.entry.AT"
      },
      {
        "key": "PL",
        "value": "sol.recruiting.localizedKwl.country.entry.PL"
      },
      {
        "key": "PT",
        "value": "sol.recruiting.localizedKwl.country.entry.PT"
      },
      {
        "key": "RO",
        "value": "sol.recruiting.localizedKwl.country.entry.RO"
      },
      {
        "key": "SI",
        "value": "sol.recruiting.localizedKwl.country.entry.SI"
      },
      {
        "key": "SK",
        "value": "sol.recruiting.localizedKwl.country.entry.SK"
      },
      {
        "key": "FI",
        "value": "sol.recruiting.localizedKwl.country.entry.FI"
      },
      {
        "key": "SE",
        "value": "sol.recruiting.localizedKwl.country.entry.SE"
      },
      {
        "key": "UK",
        "value": "sol.recruiting.localizedKwl.country.entry.UK"
      },
      {
        "key": "IS",
        "value": "sol.recruiting.localizedKwl.country.entry.IS"
      },
      {
        "key": "LI",
        "value": "sol.recruiting.localizedKwl.country.entry.LI"
      },
      {
        "key": "NO",
        "value": "sol.recruiting.localizedKwl.country.entry.NO"
      },
      {
        "key": "CH",
        "value": "sol.recruiting.localizedKwl.country.entry.CH"
      },
      {
        "key": "AL",
        "value": "sol.recruiting.localizedKwl.country.entry.AL"
      },
      {
        "key": "MK",
        "value": "sol.recruiting.localizedKwl.country.entry.MK"
      },
      {
        "key": "ME",
        "value": "sol.recruiting.localizedKwl.country.entry.ME"
      },
      {
        "key": "TR",
        "value": "sol.recruiting.localizedKwl.country.entry.TR"
      },
      {
        "key": "RS",
        "value": "sol.recruiting.localizedKwl.country.entry.RS"
      },
      {
        "key": "XK",
        "value": "sol.recruiting.localizedKwl.country.entry.XK"
      },
      {
        "key": "BA",
        "value": "sol.recruiting.localizedKwl.country.entry.BA"
      },
      {
        "key": "AM",
        "value": "sol.recruiting.localizedKwl.country.entry.AM"
      },
      {
        "key": "AZ",
        "value": "sol.recruiting.localizedKwl.country.entry.AZ"
      },
      {
        "key": "BY",
        "value": "sol.recruiting.localizedKwl.country.entry.BY"
      },
      {
        "key": "MD",
        "value": "sol.recruiting.localizedKwl.country.entry.MD"
      },
      {
        "key": "GR",
        "value": "sol.recruiting.localizedKwl.country.entry.GR"
      },
      {
        "key": "UA",
        "value": "sol.recruiting.localizedKwl.country.entry.UA"
      },
      {
        "key": "DZ",
        "value": "sol.recruiting.localizedKwl.country.entry.DZ"
      },
      {
        "key": "EG",
        "value": "sol.recruiting.localizedKwl.country.entry.EG"
      },
      {
        "key": "IL",
        "value": "sol.recruiting.localizedKwl.country.entry.IL"
      },
      {
        "key": "JO",
        "value": "sol.recruiting.localizedKwl.country.entry.JO"
      },
      {
        "key": "LB",
        "value": "sol.recruiting.localizedKwl.country.entry.LB"
      },
      {
        "key": "LY",
        "value": "sol.recruiting.localizedKwl.country.entry.LY"
      },
      {
        "key": "MA",
        "value": "sol.recruiting.localizedKwl.country.entry.MA"
      },
      {
        "key": "PS",
        "value": "sol.recruiting.localizedKwl.country.entry.PS"
      },
      {
        "key": "SY",
        "value": "sol.recruiting.localizedKwl.country.entry.SY"
      },
      {
        "key": "TN",
        "value": "sol.recruiting.localizedKwl.country.entry.TN"
      },
      {
        "key": "RU",
        "value": "sol.recruiting.localizedKwl.country.entry.RU"
      },
      {
        "key": "AR",
        "value": "sol.recruiting.localizedKwl.country.entry.AR"
      },
      {
        "key": "AU",
        "value": "sol.recruiting.localizedKwl.country.entry.AU"
      },
      {
        "key": "BR",
        "value": "sol.recruiting.localizedKwl.country.entry.BR"
      },
      {
        "key": "CN",
        "value": "sol.recruiting.localizedKwl.country.entry.CN"
      },
      {
        "key": "HK",
        "value": "sol.recruiting.localizedKwl.country.entry.HK"
      },
      {
        "key": "IN",
        "value": "sol.recruiting.localizedKwl.country.entry.IN"
      },
      {
        "key": "JP",
        "value": "sol.recruiting.localizedKwl.country.entry.JP"
      },
      {
        "key": "CA",
        "value": "sol.recruiting.localizedKwl.country.entry.CA"
      },
      {
        "key": "MX",
        "value": "sol.recruiting.localizedKwl.country.entry.MX"
      },
      {
        "key": "NZ",
        "value": "sol.recruiting.localizedKwl.country.entry.NZ"
      },
      {
        "key": "NG",
        "value": "sol.recruiting.localizedKwl.country.entry.NG"
      },
      {
        "key": "SG",
        "value": "sol.recruiting.localizedKwl.country.entry.SG"
      },
      {
        "key": "ZA",
        "value": "sol.recruiting.localizedKwl.country.entry.ZA"
      },
      {
        "key": "KR",
        "value": "sol.recruiting.localizedKwl.country.entry.KR"
      },
      {
        "key": "TW",
        "value": "sol.recruiting.localizedKwl.country.entry.TW"
      },
      {
        "key": "US",
        "value": "sol.recruiting.localizedKwl.country.entry.US"
      }
    ],
    "blankLine": true
  },
  "language": {
    "tableTitle": "sol.recruiting.localizedKwl.language.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.language.header.key",
      "sol.recruiting.localizedKwl.language.header.value"
    ],
    "entries": [
      {
        "key": "ZHO",
        "value": "sol.recruiting.localizedKwl.language.entry.chinese"
      },
      {
        "key": "SPA",
        "value": "sol.recruiting.localizedKwl.language.entry.spanish"
      },
      {
        "key": "ENG",
        "value": "sol.recruiting.localizedKwl.language.entry.english"
      },
      {
        "key": "HIN",
        "value": "sol.recruiting.localizedKwl.language.entry.hindi"
      },
      {
        "key": "ARA",
        "value": "sol.recruiting.localizedKwl.language.entry.arabic"
      },
      {
        "key": "POR",
        "value": "sol.recruiting.localizedKwl.language.entry.portugese"
      },
      {
        "key": "BEN",
        "value": "sol.recruiting.localizedKwl.language.entry.bengali"
      },
      {
        "key": "RUS",
        "value": "sol.recruiting.localizedKwl.language.entry.russian"
      },
      {
        "key": "JPN",
        "value": "sol.recruiting.localizedKwl.language.entry.japanese"
      },
      {
        "key": "JAV",
        "value": "sol.recruiting.localizedKwl.language.entry.javanese"
      },
      {
        "key": "LAH",
        "value": "sol.recruiting.localizedKwl.language.entry.lahnda"
      },
      {
        "key": "DEU",
        "value": "sol.recruiting.localizedKwl.language.entry.german"
      },
      {
        "key": "KOR",
        "value": "sol.recruiting.localizedKwl.language.entry.korean"
      },
      {
        "key": "FRA",
        "value": "sol.recruiting.localizedKwl.language.entry.french"
      },
      {
        "key": "TEL",
        "value": "sol.recruiting.localizedKwl.language.entry.telugu"
      },
      {
        "key": "MAR",
        "value": "sol.recruiting.localizedKwl.language.entry.marathi"
      },
      {
        "key": "TUR",
        "value": "sol.recruiting.localizedKwl.language.entry.turkish"
      },
      {
        "key": "TAM",
        "value": "sol.recruiting.localizedKwl.language.entry.tamil"
      },
      {
        "key": "VIE",
        "value": "sol.recruiting.localizedKwl.language.entry.vietnamese"
      },
      {
        "key": "URD",
        "value": "sol.recruiting.localizedKwl.language.entry.urdu"
      },
      {
        "key": "BUL",
        "value": "sol.recruiting.localizedKwl.language.entry.bulgarian"
      },
      {
        "key": "CES",
        "value": "sol.recruiting.localizedKwl.language.entry.czech"
      },
      {
        "key": "DAN",
        "value": "sol.recruiting.localizedKwl.language.entry.danish"
      },
      {
        "key": "NLD",
        "value": "sol.recruiting.localizedKwl.language.entry.dutch"
      },
      {
        "key": "FIN",
        "value": "sol.recruiting.localizedKwl.language.entry.finnish"
      },
      {
        "key": "HUN",
        "value": "sol.recruiting.localizedKwl.language.entry.hungarian"
      },
      {
        "key": "POL",
        "value": "sol.recruiting.localizedKwl.language.entry.polish"
      },
      {
        "key": "SWE",
        "value": "sol.recruiting.localizedKwl.language.entry.swedish"
      }
    ],
    "blankLine": true
  },
  "gender": {
    "tableTitle": "sol.recruiting.localizedKwl.gender.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.gender.header.key",
      "sol.recruiting.localizedKwl.gender.header.value"
    ],
    "entries": [
      {
        "key": "F",
        "value": "sol.recruiting.localizedKwl.gender.entry.female"
      },
      {
        "key": "M",
        "value": "sol.recruiting.localizedKwl.gender.entry.male"
      }
    ],
    "blankLine": true
  },
  "workschedule": {
    "tableTitle": "sol.recruiting.localizedKwl.workschedule.tableTitle",
    "columnHeaders": [
      "sol.recruiting.localizedKwl.workschedule.header.key",
      "sol.recruiting.localizedKwl.workschedule.header.value"
    ],
    "entries": [
      {
        "key": "F",
        "value": "sol.recruiting.localizedKwl.workschedule.entry.fulltime"
      },
      {
        "key": "P",
        "value": "sol.recruiting.localizedKwl.workschedule.entry.parttime"
      }
    ],
    "blankLine": true
  }
}